body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; 
    color: #333; 
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #05931f; 
    font-family: 'Georgia', serif; 
    padding: 20px 0;
    background-color: #fff; 
    border-bottom: 2px solid #ddd; 
}

.recipe-container {
    column-count: 2;
    max-width: 1200px; 
    margin: 20px auto; 
}

.recipe {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    break-inside: avoid; 
}



h2 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
