/* Style global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px auto;
    max-width: 800px;
}

/* Style pour chaque commande */
.command {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Style pour la partie gauche */
.left-content {
    width: 50%;
    float: left;
}

/* Style pour la partie droite */
.right-content {
    width: calc(50% - 20px);
    float: right;
    padding-left: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}


/* Style pour le titre de la commande */
.command h2 {
    color: #05931f;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Style pour les informations de la commande */
.command p {
    margin: 8px 0;
}

/* Style pour le conteneur des images */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

/* Style pour chaque image */
.image-container img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style pour le titre du menu */
.right-content h3 {
    color: #333;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Style pour le contenu du menu */
.right-content ul {
    margin-bottom: 40px;
}

/* Style pour chaque élément de contenu du menu */
.right-content ul li {
    margin-bottom: 5px;
}

/* Style pour l'en-tête */
h1 {
    color: #05931f;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}
